$green: #54d154;
$grey: #828181;
$grey-light: #b7b3b3;
$grey-dark: #333333;

$weight-light: 400;
$weight-norm: 500;
$weight-bold: 700;

$width-lg: 1024px;
$width-md: 768px;
$width-sm: 480px;

$radius-sm: 5px;
$radius-md: 30px;
$radius-round: 50%;